html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222529;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: 'Inter', sans-serif;
}

.titleContainer {
    display: table;
    color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#title {
    font-size: 9vmin;
    margin: 0;
}

#subtitle {
    font-size: 4vmin;
    color: #807e82;
    position: relative;
    /*padding: 15px 0px;*/
}
